* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #212121;
    height: 50px;
}

ul.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
}